<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inventory-management-system</title>
    <link rel="stylesheet" href="/public/css/dashboard.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h3>Admin DashBoard</h3>
            <ul class="nav-list">
                <li class="nav-item"><a href="/views/dashboard.html" class="nav-link">Dashboard</a></li>
                <li class="nav-item"><a href="/views/products.html" class="nav-link">Products</a></li>
                <li class="nav-item"><a href="/views/sales.html" class="nav-link">Sales</a></li>
                <li class="nav-item"><a href="/views/suppliers.html" class="nav-link">Suppliers</a></li>
                <li class="nav-item"><a href="/views/expense.html" class="nav-link">Expense Trackers</a></li>
            </ul>
        </div>
        <div class="main">
            <button id="toggle" class="hide-btn">X</button>
            <h3>Welcome  to your dashboard <span id="username">USER</span>!!!!</h3>
        </div>
    </div>
    <script src="/public/js/dashboard.js"></script>
</body>
</html>